name: Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: retypeapp/action-build@v3

      - uses: retypeapp/action-github-pages@v3
        with:
          update-branch: true
